body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
/*--------  section no 1  --------*/
.flood_image{
    background: url(images/donation3.jpg) ;
    background-size: cover;
    height: 100vh;  
    position: relative;
}
.flood_problem{
    color: white;
    position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}
.flood_problem h1 {
    font-size:50px;

}
.flood_problem a {
    text-decoration: none;
    background-color:#ff5959;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

/*--------  section no 2  --------*/

.donate_today{
    color: #000;
    height: 50vh; 
    position: relative;
}
.donation{
    position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}
.donation h2{
    font-size:30px;  
}
.donation p{
    margin-bottom: 150px;
}
.row{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col{
    float: left;
    width: 20%;
    padding: 0 5px;
    text-align: center;
    color: #555;   
}
.counter-box{
    width: 100%;
    height: 100%;
    background: #fafafa;
    padding: 16px 0;
    border-radius: 5px;
    margin: 150px auto 0;  
}

/*--------  section no 3  --------*/

.hr-line{
    background-size: cover;
    height: 40vh;  
    position: relative;
}

.amount{
    position: absolute;
   text-align: center;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.amount a {
    text-decoration: none;
    background-color:#ff5959;
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 500;
}

/*--------  section no 4  --------*/

.our-donate{
    color: #000;
    height: 50vh; 
    position: relative;
}
.donate-plan{
    position: absolute;
   text-align: center;
   left: 50%;
   transform: translate(-50%, -50%); 
}
.donate-plan h2 {
    font-size:30px; 
}
.row-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col-2{
    float: left;
    width: 20%;
    padding: 0 5px;
    text-align: center;
    color: #555;   
}

.counter-box-2{
    width: 100%;
    height: 100%;
    background: #edf5f6;
    padding: 25px 0;
    border-radius: 5px;
    margin: 5px auto 0;
}

.counter-box-3{
    width: 100%;
    height: 100%;
    background: #ffeeee;
    padding: 25px 0;
    border-radius: 5px;
    margin: 5px auto 0;  
}
.counter-box-4{
    width: 100%;
    height: 100%;
    background: #fff4d6;
    padding: 25px 0;
    border-radius: 5px;
    margin: 5px auto 0;  
}

/*--------  section no 5  --------*/

.depand-on{
    display: flex; 
 }
 
 .half-width{
     width: 40%;
     padding-left: 5%;
     padding-top: 7%;
 }
 .half-width h2{
     font-size:30px;   
 }
 .half-width img {
     width:70% ;
 }
 
 .half-width p{
     padding-bottom: 15px;   
 }
 
 .link-button{
     text-decoration: none;
     background-color: #ff5959;
     padding: 10px 40px;
     border-radius: 5px; 
     color: white;
     font-weight: 500;
 }

 /*--------  section no 7  --------*/

.update{
    color: #000;
    height: 50vh; 
    position: relative;
    margin-top: 200px;
}
.my-update{
    position: absolute;
   text-align: center;
   top:0%;
   left: 50%;
   bottom: 50%;
   transform: translate(-50%, -50%); 
}
.my-update h2{
    font-size:30px;   
}
.container {
    padding: 50px;
    background-color: #fff4d6
   
}input[type=text] {
    padding: 6px;
   background-color: #d9d9d9;
   border: none;
}
input[type=submit] {
    background-color: #ff5959;
    color: white;
    border: none;
    padding: 6px;
  }

   /*--------  section no 8  --------*/

.humble{
    background-color: #0b0d17;
    color: #ff5959;
    height: 50vh; 
    padding-top: 55px;
    position: relative;  
}
.humble h6{
    color: #ccced4;
}
.gonna{
    position: absolute;
   text-align: center;
   left: 50%;
   bottom: 50%;
   transform: translate(-50%, -50%); 
}